body {
  background-image: url("../img/green_cup.png");
}
.tableDiv {
  margin-top: 1em;
  background-color: rgba(19, 110, 42, 0.64);
  padding: 1em;
}
#data-table_filter > label {
  float: right;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6)
}
table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: white; }
tr.header{
  background-color: white;
}
