html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#map {
  height: calc(100% - 52px);
  /*width: 100%;*/
}
.navbar-inverse {
  background-color: #16a085;
  z-index: 1010;
}
#closePanel {
  float: right;
  padding-right: 5;
  padding-top: 5;
  color: #c0392b;
}
#closePanel:hover {
  color: #a87e7a;
}
#sidebar {
  background-color: #16a085;
  z-index: 1000;
  width: 320;
  /*top: 50;*/
  float: left;
  height: 100%;
}
#sidebarHeader {
  padding-bottom: 5;
  box-shadow: 0px 6px 10px -5px rgba(2, 101, 80, 0.9);
  margin-top: 35;
}
.sidebarText {
  color: #2a1d1d;
}
.btn-defautl:focus, .btn-defautl:active, .btn-defautl.active, .btn-defautl.focus, .btn-default {
  background: transparent;
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-width: 2;
  border-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  /* CSS Transition */
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}
.btn-default:hover {
  background: #d35400;
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-width: 2;
  border-color: #ffffff;
  /* CSS Transition */
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}
#volunteerNameSidebar {
  text-align: center;
  padding-bottom: 5px;
  font-weight: bold;
}
#since {
  text-align: center;
  font-weight: bold;
}
#totalEdits {
  text-align: center;
  font-weight: bold;
  margin-top: 0
}
#statedEdited {
  font-weight: bold;
  max-height: 160;
  overflow-y: auto;
}
#earnedBadges {
  font-weight: bold;
  max-height: 160;
  overflow-y: auto;
}
body > nav {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}
#logo {
  height: 45px;
  margin-top: -12px;
  padding-right: 10px;
  padding-left: 10px;
}
.dropdown-toggle {
  color: #fff !important;
  font-weight: bold;
}
#usermenu:hover {
  background-color: #d35400;
}
#showSidebar {
  /*margin-left: 20;*/
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #d35400;
  color: #fff;
}
#userlayers {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  background-color: #1abc9c;
}
#userlayers > li > a:hover {
  background-color: #d35400 !important;
  color: #fff !important;
  font-weight: bold;
}
#searchclear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}
#searchinput{
  border-radius: 0;
}
#volunteerName {
  margin-bottom: 0;
  color: rgb(236, 240, 241);
  font-weight: bold;
  text-shadow: rgb(20, 144, 120) 1px 1px, rgb(20, 144, 120) 2px 2px, rgb(20, 144, 120) 3px 3px, rgb(20, 144, 120) 4px 4px, rgb(20, 146, 122) 5px 5px, rgb(20, 149, 124) 6px 6px, rgb(21, 152, 126) 7px 7px, rgb(21, 154, 128) 8px 8px, rgb(21, 157, 130) 9px 9px, rgb(22, 160, 133) 10px 10px;
  background-color: #16a085;
}
#footer {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12;
  font-weight: bold;
  color: rgb(77, 83, 102);
  box-shadow: 0 -6px 10px -5px rgba(2, 101, 80, 0.9);
}
.tt-menu {
  background-color: #1abc9c;
  padding: 5px;
  width: 180px;
  border: 1px solid black;
}
.tt-suggestion.tt-cursor {
  background-color: #fff;
}
.tt-suggestion:hover {
  background-color: #d35400;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.triggered-events {
  float: right;
  width: 500px;
  height: 300px;
}
#progress {
  display: none;
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  border-radius: 4px;
}
#progress-bar {
  height: 100%;
  background-color: #16a085;
  border-radius: 4px;
  color: #ffffff;
}
.leaflet-popup-content-wrapper {
    border-radius: 0px;
    background: #61a4ab;
    opacity: 0.9;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: none repeat scroll 0 0 #61a4ab;
  opacity: 0.9;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
html body div#map.leaflet-container.leaflet-fade-anim div.leaflet-map-pane div.leaflet-objects-pane div.leaflet-popup-pane div.leaflet-popup.leaflet-zoom-animated div.leaflet-popup-content-wrapper div.leaflet-popup-content a {
  color: #ffffff;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 15;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

li { cursor: pointer; cursor: hand; }
li:hover {color: #ffffff;}
#badge{width: 400; height: auto}
.modal-content {
   background-color: rgba(0, 0, 0, 0.0);
   border: 0px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
}
html body.modal-open div#about.modal.fade.in div.modal-dialog div.modal-content{
   background-color: rgba(255, 255, 255, 1);
   border: 0px solid rgba(159, 159, 159, 1);
    border-radius: 5px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
}
html body.modal-open div#about.modal.fade.in div.modal-dialog div.modal-content div.modal-header button.close{
  margin-right: 0px;
}
.close{
  color: #1abc9c;
  opacity: 0.8;
  font-size: 35px;
  margin-right: 50;
}
.close:hover{
  color:#fff;
}
